body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(jit.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
    padding: 20px;
}
.profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile-card h2 {
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.profile-details {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
.profile-details p {
    margin: 8px 0;
}
.profile-details strong {
    color: #333;
}
.profile-card .logo {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}